<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749488352004-7mmrj3luj65q1m6oot4glu30ubs1lbc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749488352004-7mmrj3luj65q1m6oot4glu30ubs1lbc7</string>
	<key>API_KEY</key>
	<string>AIzaSyBtaRB_2AyOzZ7SRlTzX3FOo6l3OoO3quY</string>
	<key>GCM_SENDER_ID</key>
	<string>749488352004</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>exam.cen</string>
	<key>PROJECT_ID</key>
	<string>cen-exam</string>
	<key>STORAGE_BUCKET</key>
	<string>cen-exam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749488352004:ios:4e57b1f3025c1ff1c8fe51</string>
</dict>
</plist>